<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-2 text-center">Random Word</h1>
        <h1 class="mb-4 text-center">attempt #{{counter}}</h1>
        <div class="content">
            <div class="border">
                <h1>{{random_string}}</h1>
            </div>
            <form action="/generate/" method="GET" class="generate">
                {% csrf_token %}
                <button class="btn btn-success btn-lg">Generate New Word</button>
            </form>
            <form action="/reset/" method="GET" class="reset">
                {% csrf_token %}
                <button class="btn btn-danger btn-lg">Reset</button>
            </form>
        </div>
    </div>
</body>
</html>